#videos {
  margin: 5% 0;

  .videos {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px 0;

    &--trailer {
      padding: 20px 20px;

      iframe {
        border-radius: 6px;
        transition: .5s;

        &:hover{
          transform: scale(1.1);
          transition: .5s;
          filter: drop-shadow(1px 2px 6px red);
        }
      }

    }
  }
}