@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;200;300&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
}

body {
    font-family: "Maiandra GD", "Monsterrat", serif;
    background: #000;
}

input {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

video {
    display: inline-block;
    vertical-align: baseline;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    border-radius: 6px;
}



.container {
    width: 90%;
    margin: 0 auto;
}


.popular {
    padding: 9% 0;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.nowPlaying {
    padding: 9% 0;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.upcoming {
    padding: 9% 0;
    display: grid;
    grid-template-columns: auto auto auto;
    /*flex-wrap: wrap;*/
    align-items: center;
}

.topRated {
    padding: 9% 0;
    display: grid;
    grid-template-columns: auto auto auto;
    /*flex-wrap: wrap;*/
    align-items: center;
}


#detail {
    backdrop-filter: blur(6px);
}

.detail {
    padding: 8% 0;
    display: flex;
}


.detail .text .circle {
    display: flex;
    align-items: center;
}

.detail .text span {
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}

.detail .text p {
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
    padding: 30px 20px;
}

.text {
    padding: 0 5%;
}
